html,
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
